<article>
  <header>
    <h2>
      <a href="<%- config.root %><%- item.path %>">
        <%- item.title || item.link%>
      </a>
    </h2>
    <p class="blog-post-meta">
      <%= item.date.format(config.date_format) %>
    </p>
  </header>
  <%- item.content %>

  <%- partial('_partial/cta-button') %>
  <hr />
  <%- partial('article-tags', {item: item}) %>
  <%- partial('article-categories', {item: item}) %>
</article>
