<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%- config.description %>">
  <meta name="author" content="<%- config.description %>">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="WhatDanDoes.info">
  <meta name="application-name" content="WhatDanDoes.info">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Open Graph -->
  <meta property="og:image:width" content="279">
  <meta property="og:image:height" content="279">
  <meta property="og:description" content="There are over 7000 languages spoken in the world today. Over 2000 haven't a single verse of Scripture. Many of these languages can't even be written down.">
  <meta property="og:title" content="You can provide the basic tools of literacy in the 21st century">
  <meta property="og:image" content="http://whatdandoes.info/images/woman-and-child-og-crop.jpg">
  <meta property="og:url" content="https://whatdandoes.info">
  <meta property="og:type" content="website" />

  <title><%- config.title %></title>
  <!-- Custom styles for this template -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <%- css('css/blog.css') %>
  <%- css('css/grid.css') %>
  <%- css('css/hero.css') %>
  <%- css('css/cta.css') %>
  <%- css('css/menu.css') %>
  <%- css('css/mailchimp.css') %>

  <%- partial('matomo') %>
</head>
